<html> 
    <head>
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
    <title>
    Job Interest
    </title>
    
    </head>

<body>
 <h2 id=position> <b> Please take the survey. </b> </h2> 
<h3 id=position > Would you rather work outdoor or indoor ?</h3>
<form id=position method="POST" action="/">
  <input  type="radio" name="setting" value="indoor"> indoor<br>
  <input  type="radio" name="setting" value="outdoor"> outdoor<br>

    <h3> Are you lazy or hard working ?</h3>
        <input  type="radio" name="style" value="lazy"> lazy<br>
        <input  type="radio" name="style" value="hard_working"> hard working<br>

        <h3> As what or where would you like to work, but don't know if you have the abilities?</h3>
                <input  type="radio" name="work" value="computer"> computer<br>
                <input  type="radio" name="work" value="checkout"> at the checkout<br>
                <input  type="radio" name="work" value="education"> education<br>
                <input  type="radio" name="work" value="architect"> architect<br>
                <input  type="radio" name="work" value="idk"> I don't know<br>

<button id="submit" type="submit">Submit!</button>
 </form> <br>

</body>


</html> 